nav {
    background-color: antiquewhite;
    border: 2px solid black;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: black;
    font-size: 20px;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #555;
}

h1{
    text-align: center;

}
h3{
    text-align: center;
    padding: 5px;
}
.contenedor {
    margin: 0 auto; /* Centrar el contenedor en la página */
    display: flex; /* Convertir el contenedor en un contenedor flexible */
    justify-content: space-between; /* Distribuir los elementos uniformemente en la línea */
  }
.Sobre_mi {
    width: calc(33.33% - 10px); /* Ancho del 33.33% menos el espacio entre los elementos */
    box-sizing: border-box; /* Incluir el borde y el relleno en el ancho total */
    border: 1px solid black; /* Borde para visualización */
    text-align: center; /* Centrar el contenido horizontalmente */
    padding: 20px; /* Espacio interno */
    background-color: antiquewhite;
}
div ul{
    text-align: left;
}
.imagenes{
    width: 70px;
    height: 70px;
}
.perfil{
    width: 50px;
}
.logo{
    width: 30px;
    height: 30px;
}
.titulo{
    background-color: antiquewhite;
    border: 1px solid black;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
}
body{
    background-color: #555;
}